body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFD700; /* Fondo dorado/amarillo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #FF0000; /* Borde rojo */
}

h1 {
    text-align: center;
    color: #FFFFFF; /* Texto en blanco para contrastar con el fondo negro */
    background-color: #000000; /* Fondo negro para el encabezado */
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.form-label {
    color: #000000; /* Texto en negro */
}

.input-container {
    border: 2px solid #FFD700; /* Borde amarillo */
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

input, select, .form-range {
    font-size: 16px;
    border: 1px solid #FF0000; /* Bordes rojos */
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF; /* Texto blanco */
    background-color: #FF0000; /* Fondo rojo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #C70000; /* Rojo más oscuro al pasar el cursor */
}

.alert {
    border: 2px solid #FFD700; /* Borde amarillo para el contenedor de predicción */
    border-radius: 5px;
    font-size: 16px;
}
